@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url(/fonts/ptsans-400.woff2) format(woff2);
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url(/fonts/ptsans-700.woff2) format(woff2);
    font-display: swap;
}

body {
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    line-height: 21px;
    background-color: #fff;
    color: #333333;
}

.button {
    text-transform: uppercase;
    color: #fff;
}

.button-dark {
    background-color: #756257;
}

.button-light {
    background-color: #83B3D3;
}

/*Header*/

.main-header {
    background-color: #fff;
    color: #000;
}

.nav-menu-link {
    color: #000;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    text-decoration: none;
}

.main-page-header {
    background-color: #fff;
    color: #000;
    background-image: url("/images/index-background.jpg");
    background-repeat: no-repeat;
    background-size: 100% auto;
}

.text-intro {
    text-align: center;
}

.intro-header {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
}

.intro-text {
    font-size: 22px;
    line-height: 36px;
}

/* Advantages */

.bg-blue {
    background-color: #83B3D3;
    color: #fff;
}

.bg-light-blue {
    background: rgba(131, 179, 211, 0.12);
    color: #000;
}

.bg-med-blue {
    background: rgba(131, 179, 211, 0.2);
    color: #000;
}

.bg-white {
    background-color: #fff;
    color: #000;
}

.advantages-item {
    text-align: center;
}

.advantages-content {
    text-align: center;
}

.advantages-item-header {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;

}

.advantages-text {
    font-size: 18px;
    line-height: 21px;
}

.bg-light-blue>.advantages-text {
    color: #333333;
}

.bg-med-blue>.advantages-text {
    color: #333333;
}

.bg-white>.advantages-text {
    color: #333333;
}

/* Hotel Search */

.hotel-search-content {
    text-align: center;
}

.hotel-search-header {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;

}

.hotel-search-text {
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    color: #333333;
}

/* Subscrption */

.subscription {
    background-image: url("/images/mail-background.jpg");
    background-repeat: no-repeat;
    background-size: 100% auto;
    text-align: center;
}

.subscription-content {
    text-align: center;
    color: #fff;
}

.subscription-header {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    color: #fff;
}

.subscription-text {
    font-size: 22px;
    line-height: 26px;
    color: #fff;
}

