@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/ptsans-400.woff2) format(woff2);
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url(../fonts/ptsans-700.woff2) format(woff2);
    font-display: swap;
}

body {
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    line-height: 21px;
    background-color: #fff;
    color: #333333;
}

/* Buttons*/

.button {
    background-color: #756257;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
}

/* Pages */

.nav-header {
    background-color: #fff;
    color: #000;

}

.nav-item-link {
    font-size: 20px;
    line-height: 26px;
    font-weight: 700;
    color: #000;
    text-decoration: none;
}

.index-main {
    background-image: url("../images/index-background.jpg");
    background-color: #fff;
    background-repeat: no-repeat;
    background-size: 100% auto;
    color: #333333;

}

/* Advantages */

.advantages-wrapper {
    color: #fff;
    background-color: #83B3D3;
}

.advantages-list {
    text-align: center;
}

.page-header {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    color: #000;
}

.page-text {
    text-align: center;
    font-weight: 400;
    font-size: 22px;
    line-height: 36px;
    color: #333333;
}

.advantages-header {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
}

.advantages-number {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
}

.advantages-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
}

/* Hotel search */

.hotel-search {
    text-align: center;
}

.hotel-search-header {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    color: #000000;
}

.hotel-search-text {
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    color: #333333;

}

/* Subscription */

.subscription {
    background-image: url("../images/mail-background.jpg");
    background-repeat: no-repeat;
    background-size: 100% auto;
    color: #fff;
}

.subscription-header {
    text-transform: uppercase;
}

.subscr-button {
    background-color: #83B3D3;
}

/* Catalog */

.crumbs-link{
color: inherit;
}

.sort-container {
    background-image: url('../images/catalog-background.jpg');
    background-repeat: no-repeat;
    background-size: 100% auto;
    color: #fff;
}

.catalog-main {
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
}

.inner-header {
    font-weight: 700;
    font-size: 60px;
    line-height: 78px;
    color: #fff;
}

.group-name {
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    color: #fff;
}

.catalog-header-text {
    font-weight: 700;
    font-size: 30px;
    line-height: 39px;
    color: #000;
}

.hotel-card-link {
    text-decoration: none;
    color: #000;
}

.hotel-name {
    font-weight: 700;
    font-size: 24px;
    line-height: 31px;
}

.view-item-link{
    background-color: #fff;
    color: #000;
}

.hotel-to-favorite {
    background-color: #83B3D3;
    border-radius: 4px;
}

.hotel-favorite{
    background: #7DB54F;
border-radius: 4px;
}

.hotel-rating {
    background: #F2F2F2;
border-radius: 4px;
}

.load-more {
    background: #83B3D3;
border-radius: 4px;
}

.pagination-button {
    background: #83B3D3;
border-radius: 4px;
}