@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url(/fonts/ptsans-400.woff2) format(woff2);
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url(/fonts/ptsans-700.woff2) format(woff2);
    font-display: swap;
}

html {
    height: 100%;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    line-height: 21px;
    background-color: #fff;
    color: #333333;
}

.button {
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
}

.button-dark {
    background-color: #756257;
}

.button-light {
    background-color: #83B3D3;
}

/*Header*/

.main-header {
    background-color: #fff;
    color: #000;
}

.page-nav {
    display: flex;
    width: 1060px;
    margin: 0 auto;
}

.nav-logo {
    margin-right: 30px;
}

.nav-menu {
    width: 345px;
    margin: 0;
    padding: 0;
}

.nav-menu-link {
    color: #000;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    text-decoration: none;
}

.user-menu {
    max-width: 265px;
    margin-left: auto;
}

.main-page-header {
    background-color: #fff;
    color: #000;
    background-image: url("/images/index-background.jpg");
    background-repeat: no-repeat;
    background-size: 100% auto;
}

.text-intro {
    text-align: center;
}

.intro-header {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
}

.intro-text {
    font-size: 22px;
    line-height: 36px;
}
/* Main */

.main-container {
    flex-grow: 1;
}

.page-wrapper {
    width: 1200px;
    margin: 0 auto;
}

.sedona-logo{
    display: block;
    margin: 0 auto;
}

/* Advantages */

.advantages-list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.bg-blue {
    background-color: #83B3D3;
    color: #fff;
}

.bg-light-blue {
    background: rgba(131, 179, 211, 0.12);
    color: #000;
}

.bg-med-blue {
    background: rgba(131, 179, 211, 0.2);
    color: #000;
}

.bg-white {
    background-color: #fff;
    color: #000;
}
.advantages-item-big{
    width: 1200px;
    text-align: center;
}
.advantages-item {
    width: 400px;
    text-align: center;
}

.advantages-content {
    text-align: center;
}

.advantages-item-header {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;

}

.advantages-text {
    font-size: 18px;
    line-height: 21px;
}

.bg-light-blue>.advantages-text {
    color: #333333;
}

.bg-med-blue>.advantages-text {
    color: #333333;
}

.bg-white>.advantages-text {
    color: #333333;
}

/* Hotel Search */

.hotel-search {
    display: flex;
    flex-direction: column;
}

.hotel-search-wrapper {
    display: flex;
    flex-direction: column;
    width: 720px;
    margin: 0 auto;
    justify-content: center;
}

.hotel-search-content {
    text-align: center;
}

.hotel-search-header {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;

}

.hotel-search-text {
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    color: #333333;
}

/* Subscrption */

.subscription {
    background-image: url("/images/mail-background.jpg");
    background-repeat: no-repeat;
    background-size: 100% auto;
    text-align: center;
}

.subscription-wrapper {
    display: flex;
    flex-direction: column;
    width: 800px;
    margin: 0 auto;
    justify-content: center;
}

.subscription-content {
    text-align: center;
    color: #fff;
}

.subscription-header {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    color: #fff;
}

.subscription-text {
    font-size: 22px;
    line-height: 26px;
    color: #fff;
}

/* Catalog */
.catalog-page {
    background-color: #fff;
    color: #000;
}

.catalog-header-text {
    font-weight: 700;
    font-size: 60px;
    line-height: 78px;
    color: #fff;
}

.crumbs-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    text-decoration: none;
    color: #fff;
}

/* Filters */

.filters {
    background-image: url("/images/catalog-background.jpg");
    background-repeat: no-repeat;
    background-size: 100% auto;
    color: #fff;
}

.filter-name {
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
}

.control-label {
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: #fff;
}

/* Search Results */

.search-result {
    font-weight: 700;
    font-size: 30px;
    line-height: 39px;
    text-transform: uppercase;
    color: #000;
}

.hotel-card-link {
    text-decoration: none;
}

.hotel-name {
    font-weight: 700;
    font-size: 24px;
    line-height: 31px;
    color: #000;
}

.hotel-type {
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: #333333;
}

.hotel-price {
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: #333333;
}

.hotel-rating {
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    color: #333333;
}

.hotel-more {
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: #756257;
    border-radius: 4px;
}

.to-favourite {
    background: #83B3D3;
    border-radius: 4px;
    text-align: center;
    color: #fff;
}

.favourite {
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #7DB54F;
    border-radius: 4px;
}

/* Pagination */

.pagination-link {
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    background: #83B3D3;
    border-radius: 4px;
}

.pagination-current {
    background: #F2F2F2;
    border-radius: 4px;
    text-decoration: none;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    color: #000;
}

.hotels-counter-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: #333333;
}

.catalog-subscription-header {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    color: #000000
}

.catalog-subscription-text {
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    color: #333333;
}

/* Footer*/

.footer-wrapper {
    display: flex;
    width: 1200px;
    margin: 0 auto;
}

.footer-socials {
    width: 109px;
    margin-right: 60px;
}

.footer-phone {
    width: 720px;
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    text-transform: uppercase;
    color: #000;
    text-decoration: none;
}

.about-text{
    margin-left: auto;
    width: 115px;
    margin-right: 72px;
}